@model IEnumerable<Inventory.Models.InventoryItem>

@{
    ViewData["Title"] = "Инвентаризационная ведомость";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
@*Добавить вывод номера счета*@

<p>
    <a asp-controller="InventoryItem" asp-action="Create" asp-route-id="@ViewBag.SheetId">Добавить позицию</a>
    @*нужно передавать Id InventorySheet для добавления в текущую ведомость*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="InventoryItem" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="InventoryItem" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
